@model Game.Mvc.Models.City
@{
    ViewBag.Title = "Index";

}
<div class="main">
    <img id="city-bg" style="" />

    <div class="village-wrapper">
        @{
            int index = 0;
        }
        @foreach (var building in this.Model.Buildings)
        {
            if (building.BuildingType != null)
            {
                <div class="building @building.BuildingType.Name building-@index">
                    <div class="hidden">@building.BuildingType.Name</div>
                    <a href="@Url.Action(building.BuildingType.Action, new { buildingId = building.BuildingId })">
                        <img src="~/Content/img/@(building.BuildingType.Name).png" />
                        <div class="building-level" data-building-id="@building.BuildingId" data-building-action="@building.BuildingType.Action">@building.Level</div>
                    </a>
                </div>
            }
            else
            {
                <div class="building building-@index building-empty">
                    <a href="@Url.Action("Build", new { buildingId = building.BuildingId })" ><img src="~/Content/img/empty.png" /></a>
                </div>
            }
            index++;
        }
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/site/buildings.js"> </script>
    <script src="~/Scripts/Date.min.js"></script>
}